<h2>This is the landing page that the anchor tag linked to!</h2>

<form asp-controller="Example" asp-action="FormHandler" method="POST">
    <input type="text" name="Name"/>
    <input type="submit" />
</form>

<h3>@ViewBag.name</h3>